# Database
DB_URL=jdbc:mysql://localhost:3306/whereyouad?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Mail
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=email-app-password

# JWT
JWT_SECRET=your_very_long_and_secret_random_string_for_signing_tokens_to_match_HS512