# 1. Database Configuration
DB_URL=jdbc:mysql://localhost:3306/whereyouad?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=your_database_password_here

# 2. Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# 3. Mail Configuration (Gmail SMTP)
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your_google_app_password_here

# 4. OAuth2 Social Login Configuration
# Naver
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret

# Google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Kakao
KAKAO_CLIENT_ID=your_kakao_client_id
KAKAO_CLIENT_SECRET=your_kakao_client_secret

# 5. JWT Configuration
JWT_SECRET=your_very_long_and_secret_random_string_for_signing_tokens_at_least_64_characters

# 6. Frontend Redirect URL
OAUTH2_REDIRECT_URL=http://localhost:3000/oauth2/redirect

# 7. SMS
SMS_API_KEY=your_sms_api_key
SMS_SECRET_KEY=your_sms_secret_key
SMS_SENDER_NUMBER=01012345678

# 8. Server Configuration
BASE_URL=http://localhost:8080

#9 OpenAI
OPENAI_API_KEY=your_openai_api_key

#10 AES
AES_SECRET=your_aes_secret_key

# 11. Meta Marketing API
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
META_REDIRECT_URI=http://localhost:8080/api/meta/callback